#links_holder
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding-left: 20px;
    right: 2%;
    top: 2%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.667);
    border: 2px solid black;
}

#farmer_input_div
{
    width: 500px;
    height: 200px;
    padding-top: 2%;
    background-color: rgba(240, 255, 255, 0.413);
    position: absolute;
    top: 40%;
    left: 35%;
}